html {
  background: #eceff1;
}

body {
  font: 1rem Reoboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: #666;
  min-width: 960px;
}

h1 {
  font-weight: 900;
  font-size: 1.3rem;
  color: #333;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
  color: #263238;
}

a:link, a:visited {
  color: #ff6f00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
	font-weight: 700;
}

#wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}

#main {
  height: auto;
  padding-bottom: 3rem;
  text-align: center;
}

#main, div.header, li.repo {
  background: white;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

#main h1 {
  margin: 30px 0;
}

#main h1, #main p {
  margin-left: 1rem;
  margin-right: 1rem;
}

#main p {
  font-size: .8rem;
  line-height: 2;
}

#logo {
  width: 190px;
  height: 64px;
  margin: 15px 0 0 15px;
  background: url("logo.png");
  text-indent: -99999px;
}

#logo h1 {
  margin: 0;
}

div.header {
  height: 12rem;
}

div.header h1, div.header p {
  margin: 1rem 1rem 0;
}

div.header h1 {
  margin-bottom: 1rem;
}

#num-repos, #num-members, #num-source-repos {
  font-size: 1rem;
  font-weight: 700;
  color: #ff8f00;
  line-height: 15px;
}

#statistics a:link, #statistics a:visited {
  color: inherit;
}

#statistics p.email {
  margin-top: 6px;
  font-size: 11px;
}

#recently-updated h1 a {
  font-weight: normal;
  font-size: 1rem;
}

#recently-updated-repos {
  margin-left: 1rem;
}

#recently-updated-repos li {
  line-height: 1.5;
}

#recently-updated-repos li span {
  display: inline-block;
  padding: 0 1px;
}

#recently-updated-repos li span {
  font-size: .8rem;
}

#recently-updated-repos li span.name {
  padding: 0 .5rem 0 0;
  font-size: .8rem;
}

#recently-updated-repos li span.time a,
#recently-updated-repos li span.watchers a,
#recently-updated-repos li span.forks a {
  color: #999;
}

li.repo {
  height: 12rem;
  position: relative;
}

li.repo > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

li.repo a:hover {
  background: #efefef;
  background: rgba(0, 0, 0, 0.05);
}

li.repo h2, li.repo h3, li.repo p {
  margin: 10px 15px;
}

li.repo h2 {
  margin-bottom: 2px;
  max-width: 160px;
  overflow: hidden;
}

li.repo h3 {
  font-size: 9px;
  color: #fff;
  position: absolute;
  top:-6px;
  right: -12px;
  z-index: 999;
  font-weight: 700;
}

li.repo.php h3 {
  color: #333;
}

.repo:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 35px solid transparent;
  border-left: 50px solid transparent;
  border-right: 100px solid #0080b0;
  pointer-events: none;
}

.repo.javascript:after {
  border-right-color: #4caf50;
}

.repo.css:after {
  border-right-color: #f44336;
}

.repo.php:after {
  border-right-color: #ffc107;
}

[ng-cloak] {
	display: none;
}
